---
title: Blog
layout: default
---

<style>
  .post-view {
    display: none;
  }

  #tag-grouping-control:checked + div#tag-grouping{
    display: block;
  }

  #chronological-control:checked + div#chronological{
    display: block
  }
</style>

<div class="d-flex justify-content-end form-check my-2">
  <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
    <!-- input is by what it controls -->
    <label class="btn btn-outline-primary" for="tag-grouping-control">
      <i class="bi bi-collection-fill" title="Group by tag" alt="Group by tag"></i>
    </label>
    <!-- input is by what it controls -->
    <label class="btn btn-outline-primary" for="chronological-control">
      <i class="bi bi-list-ol" title="Chronological"></i>
    </label>
  </div>
</div>

<input type="radio" class="btn-check" name="btnradio" id="tag-grouping-control" autocomplete="on">
<div class="post-view" id="tag-grouping">
  {% for tag in site.tags %}
    <div class="card mb-3">
      {% if tag[1][0].thumb %}
        <img src="{{ tag[1][0].thumb }}" alt="{{ tag[1][0].thumb-alt }}" width="100%" class="card-img-top">
      {% endif %}
      <div class="card-body d-flex justify-content-between">
        <h5 class="card-title">{{ tag[0] }}</h6>
        <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapsePosts{{ forloop.index0 }}" role="button" aria-expanded="false" aria-controls="collapsePosts1">
          ▼
        </a>
      </div>
      <ul class="list-group list-group-flush collapse" id="collapsePosts{{ forloop.index0 }}">
        {% for post in tag[1] %}
          <a href="{{ post.url }}"><li class="list-group-item">{{ post.title }}</li></a>
        {% endfor %}  
      </ul>
    </div>
  {% endfor %}
</div>

<input type="radio" class="btn-check" name="btnradio" id="chronological-control" autocomplete="on" checked>
<div id="chronological" class="post-view">
  <ul class="list-unstyled">
  {% for post in site.posts %}
    <li class="mb-3">
      <div class="bg-dark rounded-3 p-3 my-2">
        <a href="{{ post.url }}" class="link-light rounded-5 h3">{{ post.title }}</a>
      </div>
      {{ post.excerpt }}
    </li>
  {% endfor %}
  </ul>
</div>