@import url(https://cdn.rawgit.com/dreampulse/computer-modern-web-font/master/fonts.css);

:root{    /* CSS HEX */
  --jet: #1D1E18;
  --cultured: #efefefff;
  --light-sea-green: #03b5aaff;
  --imperial-red: #ef233cff;
  --amaranth-red: #d90429ff;
  --space-cadet: #2b2d42ff;
  --manatee: #8d99aeff;
  --cultured: #edf2f4ff;
  --imperial-red: #ef233cff;
  --amaranth-red: #d90429ff;

  --main-bg-color: var(--jet);
  --text-color: var(--cultured);
  --accent-color: var(--imperial-red);
  --main-font: "Computer Modern Sans", sans-serif;
  --container-width: 576px;
  font-family:  var(--main-font);
  color: var(--text-color);
}

/* XSmall devices (<= 576px) */
@media screen and (max-width: 576px) { 
  :root{
    --container-width: 100%;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--container-width);
}

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.bg-special-grad {
  background: linear-gradient(45deg, var(--space-cadet), var(--imperial-red));
}

.main-content {
  flex: auto; /*Stretch*/
}

.low-contrast {
  color: gray; /*TODO */
}

.splash-image {
  width: var(--container-width);
}

/* Timeline */

#timeline {
  --timeline-width: .5em;
  --event-width: 4em;
  --dot-size: 2em;
}

.event {
  text-align: right;
}

.event img,
.event i {
  width: var(--event-width);
  max-width: 100%;
}

.event {
  border-right: var(--timeline-width) solid var(--space-cadet);
  height: 100%;
}

.event-wrapper {
  display: block;
  position: relative;
  max-width: 100%;
}

.row {
  position: relative;
}

.event-wrapper::after {
  content: '';
  width: var(--dot-size);
  height: var(--dot-size);
  border-radius: 50%;
  background-color: var(--imperial-red);
  border: var(--timeline-width) solid var(--space-cadet);
  z-index: 1;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateX(50%) translateX(calc(-1 * var(--timeline-width) / 2))
}



@media screen {
  
}
