
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ page.title }}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{{ '/assets/blog.css' | relative_url }}">
  </head>
  <body class="d-flex flex-column">
    <header class="container">
      <nav class="navbar navbar-expand-sm">
          <div class="container-fluid">
            <a class="navbar-brand" href="index.html">
              <img src="{{ 'assets/AD_Logo_V1.jpg' | relative_url }}" style="height: 2em"></img>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% link index.html %}">Home</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="{% link blog.html %}">Blog</a>
                </li>
            </ul>
            </div>
        </div>
      </nav>
    </header>
    <div class="main-content">
      {{ content }}
    </div>
    <div class="container">
      <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-4 d-flex align-items-center">
          <a href="{% link index.html %}" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
            <img src="{{ 'assets/AD_Logo_V1.jpg' | relative_url }}" height="30px">
          </a>
        </div>

        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">

          <li class="ms-3">
            <a class="text-muted" href="https://github.com/aadalal"><i class="bi bi-github"></i></a>
          </li>
          <li class="ms-3">
            <a class="text-muted" href="https://www.linkedin.com/in/aagam-dalal/"><i class="bi bi-linkedin"></i></a>
          </li>
        </ul>
      </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
          tex2jax: {
            skipTags: ['script', 'noscript', 'style', 'textarea', 'pre'],
            inlineMath: [['$','$']]
          }
        });
    </script>
    <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script> 
  </body>
</html>